html {
    font-size: 9px;
}

@media(min-width: 280px) {
  html {
    font-size: 11px;
  }
}

@media(min-width: 350px) {
  html {
    font-size: 13px;
  }
}

@media(min-width: 450px) {
  html {
    font-size: 17px;
  }
}

@media(min-width: 550px) {
  html {
    font-size: 20px;
  }
}

@media(min-width: 650px) {
  html {
    font-size: 23px;
  }
}

@media(min-width: 750px) {
  html {
    font-size: 26px;
  }
}

@media(min-width: 850px) {
  html {
    font-size: 29px;
  }
}

@media(min-width: 950px) {
  html {
    font-size: 32px;
  }
}

@media(min-width: 1050px) {
  html {
    font-size: 35px;
  }
}

@media(min-width: 1150px) {
  html {
    font-size: 38px;
  }
}

@media(min-width: 1250px) {
  html {
    font-size: 41px;
  }
}

@media(min-width: 1450px) {
  html {
    font-size: 47px;
  }
}

@media(min-width: 1650px) {
  html {
    font-size: 53px;
  }
}

@media(min-width: 1850px) {
  html {
    font-size: 59px;
  }
}

@media(min-width: 2050px) {
  html {
    font-size: 65px;
  }
}

@media(min-width: 2250px) {
  html {
    font-size: 71px;
  }
}